.position{
    text-align: center;
}
.btn-1{
    padding: 20px;
    background-color: darkblue;
    color: aliceblue;
    font-weight: bold;
    font-size: large;
    width: 100px;
}
.btn-2{
    padding: 20px;
    background-color:crimson;
    color: aliceblue;
    font-weight: bold;
    font-size: large;
    width: 100px;
}